{{ ansible_managed | comment }}
server {
{% if nginx__default_site_enablev4 is sameas true %}
listen 80 default_server;
{% endif %}
{% if nginx__default_site_enablev6 is sameas true %}
listen [::]:80 default_server;
{% endif %}
{% if nginx__default_site_enable_acme is sameas true %}
    location /.well-known/acme-challenge/ {
        alias {{ nginx__default_site_acme_dir }};
        try_files $uri =404;
    }
{% endif %}
    location / {
        try_files $uri $uri/ =404;
    }
{% if nginx__default_site_root_dir is defined %}
    root {{ nginx__default_site_root_dir }};
{% endif %}
{% if nginx__default_site_index is defined %}
    index {{ nginx__default_site_index }};
{% endif %}
}
