{{ ansible_managed | comment }}
user                {{ nginx__uid }}  {{ nginx__gid }};
worker_processes    {{ nginx__worker_processes }};
pid                 /var/run/nginx.pid;

worker_rlimit_nofile {{ nginx__worker_rlimit_nofile }};

events {
{% for v in nginx__events_params %}
                    {{ v }};
{% endfor %}
}


http {
    include {{ nginx__conf_dir }}/mime.types;
    default_type application/octet-stream;
{% for v in nginx__http_params %}
        {{ v if "}" in v[-2:] else v+";" }}
{% endfor %}
    server_names_hash_bucket_size {{ nginx__server_names_hash_bucket_size }};
    include {{ nginx__conf_dir }}/conf.d/*.conf;
    include {{ nginx__conf_dir }}/sites-enabled/*;
}
