{{ ansible_managed | comment }}
server {
{% for v in item.value %}
{{  v.replace("{","{\n\t").replace(";",";\n\t")  }}
{% endfor %}
{% if nginx__vhost_acme is sameas true %}
    location /.well-known/acme-challenge/ {
        alias {{ nginx__default_site_acme_dir }};
        try_files $uri =404;
    }
{% endif %}
}
